* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'snell-roundhand';
  src: url('/assets/snell-roundhand/SnellBT-Regular.otf') format('opentype');
  font-weight: 400;
}

:root {
  --font-primary: 'Great Vibes';
  --font-secondary: 'Cormorant Upright';
  --font-basic: 'Lora';
  --color-ligth: #F3F4EE;
  --color-dark: #6A766A;
}

.padding-general {
  padding: 15vh 5vh;
}

#btn-primary {
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 9px;
  padding-top: 6px;
  padding-right: 65px;
  padding-bottom: 6px;
  padding-left: 65px;
  background-color: var(--color-dark);
  color: var(--color-ligth);
  font-family: var(--font-basic);
}

.fade {
  opacity: 0;
  transition: opacity 1.5s ease; /* suaviza el cambio */
}

.fade.visible {
  opacity: 1; /* cuando se activa la clase visible */
}

header {
  background-size: cover;
  background-image: url('/assets/hero.webp');
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div h1 {
  color: var(--color-ligth);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 60px;
  vertical-align: middle;
  text-transform: uppercase;
}

header div h1 span {
   font-size: 75px;
}

header div h1 .and {
 font-family: "snell-roundhand";
  font-size: 50px;
  margin-left: 6vh;
}

section {
  background-image: url('assets/texture.webp');
  background-size: cover;
}

.section-invite {
  position: relative;
  overflow: visible;
}

.section-invite img {
  position: absolute;
  z-index: 1;
}

.section-invite .vector1 {
  top: 40px;
  left: -140px;
  width: 660px;
}

.section-invite .vector2{
    top: 65px;
    right: 0;
    width: 420px;
}

.section-invite .vector3 {
  top: 460px;
  right: 0;
  width: 250px;
}

section article {
  text-align: center;
  margin: 12vh 2vh;
}

section article h2 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 54px;
  letter-spacing: -5%;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-dark);
}

section article h3 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -5%;
  vertical-align: middle;
  color: var(--color-dark);
}

section article p {
  font-family: var(--font-basic);
  color: var(--color-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 2%;
  vertical-align: middle;
}

section article p span {
  font-family: var(--font-primary);
  font-size: 60px;
  line-height: 150%;
  letter-spacing: -5%;
  vertical-align: middle;
  padding: 2vh;
} 

section article .subtitule, header .subtitule {
  font-family: var(--font-basic);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

header .subtitule {
  color: var(--color-ligth);
  font-size: 16px;
}

.date .subtitule {
  font-size: 18px;
}

section article h4 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--color-dark);
}

.img-hands {
  height: 100vh;
  background-image: url('assets/wedding.png');
  background-size: cover;
}

.dress-code p {
  font-size: 20px;
}

.dress-code h4 {
  line-height: 85%;
}

.gifts {
  margin: 20vh;
}

.gifts, .gifts > div{
  border: 1px solid var(--color-dark);
  padding: 1vh;
}

.gifts > div {
    padding: 6vh 3vh;
}

.gifts h4, .confirmacion h4{
  line-height: 85%;
  margin-right: 58px;
}

.gifts p {
  font-size: 14px;
}

.gifts .alias {
  text-transform: uppercase;
}

.gifts .sugerencia, .confirmacion p {
  font-size: 22px;
  margin-left: 100px;
  text-align: center;
  text-transform: uppercase;
}

.confirmacion .sub-text {
  font-size: 14px;
  text-align: center;
  text-transform: none;
  margin: 0;
}

footer h4{
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: Regular;
  font-size: 46.94px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 100px;
}

a {
  text-decoration: none;
}

footer {
  padding: 10vh;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-ligth);
}
#svg {
  height: 70px;
}
#svg > svg {
  width: 62px;
  height: auto;
  animation: item 1s infinite;
}

@keyframes item {
  0% {
    width: 65px;
  }
  50% {
     width: 62px;
  }
  100% {
    width: 65px;
  }
}

@media (max-width: 600px) {
  header {
    height: 65vh;
  }
  footer {
    padding: 5vh;
  }
  .container-flex {
    display: block;
  }
  .padding-general {
    padding: 10vh 5vh;
  }
  .gifts > div {
    padding: 4vh 2vh;
  }
  .gifts {
    margin: 10vh 0vh;
  }
  .section-invite .vector1 {
    top: 40px;
    left: -140px;
    width: 350px;
  }

  .section-invite .vector2{
      top: 365px;
      right: 0;
      width: 205px;
  }

  .section-invite .vector3 {
    top: 560px;
    right: 0;
    width: 100px;
  }
  
  .img-hands {
    height: 40vh;
    background-position: center;
  }

  header div h1 .and {
    margin-left: 2vh;
  }

  header div h1 {
    font-size: 50px;
  }

  header div h1 span {
    font-size: 65px;
  }

}